html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #F3F6F4;
    color: #251F23;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    position: relative
}

.hero {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    animation: fadein 5s;
}

.child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.hero__title {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    line-height: 1.25;
    margin: 0;
    color: #770024;
}

.hero__subtitle {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    line-height: 1.25;
    margin: 0;
    color: #251F23;
}

.hero__message {
    font-size: 16px;
    line-height: 1.25;
    margin: 16px 0;
    color: #251F23;
}

.hero__links {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
}

.hero__link-wrapper {
    display: inline-block;
    border-right: 2px solid #251F23;
    overflow: hidden;
    position: relative;
    padding: 5px 10px;
}

.hero__link-wrapper:last-child {
    border-right: none;
}

.hero__link {
    display: inline;
    padding: 0 5px;
    margin: 0;
    font-size: 24px;
    line-height: 1.25;
    color: #770024;
    text-decoration: none;
    position: relative;
    overflow: hidden;

}

.hero__link:before {
    content: "";
    position: absolute;
    width: 100%;
    margin: 0 auto;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #770024;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.hero__link:hover {
    color: #A11F30;
}

.hero__link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background-color: #A11F30;
}

@media only screen and (min-device-width : 400px) {
    .hero__title {
        font-size: 36px;
    }

    .hero__subtitle {
        font-size: 28px;
    }

    .hero__message {
        font-size: 20px;
    }

    .hero__link {
        font-size: 28px;
    }
}

@media only screen and (min-device-width : 600px) {
    .hero__title {
        font-size: 40px;
    }

    .hero__subtitle {
        font-size: 32px;
    }

    .hero__message {
        font-size: 24px;
    }

    .hero__link {
        font-size: 32px;
    }
}

@media only screen and (min-device-width : 800px) {
    .hero__title {
        font-size: 44px;
    }

    .hero__subtitle {
        font-size: 36px;
    }

    .hero__message {
        font-size: 28px;
    }

    .hero__link {
        font-size: 36px;
    }
}

@media only screen and (min-device-width : 1200px) {
    .hero__title {
        font-size: 52px;
    }

    .hero__subtitle {
        font-size: 44px;
    }

    .hero__message {
        font-size: 28px;
    }

    .hero__link {
        font-size: 36px;
    }
}
